<table class="table table-bordered">
    <tr ng-show="isAdmin">
        <th>Name </th>
        <th>Age</th>
        <th>Skils</th>
        <th>Responsibilities</th>
    </tr>
    <tr ng-show="isCustomer">
        <th>Name </th>
        <th>Age</th>
        <th>Likes</th>
        <th>PurchasedItems</th>
    </tr>



    <tr ng-repeat="u in user | filter: GetById()">
        <td>{{u.name}} </td>
        <td>{{u.age}}</td>
        <td ng-show="isAdmin">
            <ul ng-repeat="skill in u.skills">
                <li>{{skill}}</li>
            </ul>
            <a href="#" class="btn btn-primary" ng-click="addNewSkills(u)">add New Skill</a>
        </td>
        <td ng-show="isCustomer">
            <ul ng-repeat="like in u.likes">
                <li>{{ like }}</li>
            </ul>
            <a href="#" class="btn btn-primary" ng-click="addNewlikes(u)">add New Like</a>
        </td>
        <td ng-show="isAdmin">
            <div ng-repeat="r in currentUserResponsibilities">
                <ul ng-repeat="r1 in r">
                    <li>{{r1.name}}</li>
                </ul>
            </div>
        </td>
        <td ng-show="isCustomer">
            <div ng-repeat="r in currentUserPurchasedItems">
                <ul ng-repeat="r1 in r">
                    <li>{{r1.name}}</li>
                </ul>
            </div>
        </td>
    </tr>

</table>


