<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <!-- Menu button for smallar screens -->
           <!-- <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>-->
            <!-- Site name for smallar screens -->
            <a href="/" class="brand"><span class="brand-title" style="font-size: 30px;margin-top:8px;position:absolute">Score App</span></a>

            <!-- Navigation starts -->
            
        </div>
    </div>
</nav>